/*
Metabase

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package metabase

import (
	"context"
	"io"
	"net/http"
	"fmt"
)

/// ListMemberships List all user's membership to Permissions
// 
// @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
// @return Users, response, error
// TODO

func (c *APIClient) ListMemberships(ctx context.Context) (*map[string][]Membership, *http.Response, error){
	var localVarReturnValue *map[string][]Membership

	localBasePath, err := c.cfg.ServerURLWithContext(ctx, "ListMemberships") // this looks optional
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/permissions/membership"

	req, _ := http.NewRequest("GET", localVarPath, nil)

	// I do have an APIClient
	// apiClient, _, err := metabaseutil.NewApiClient(clientCfg)
	// here i could be using an API service with callAPI() method
	localVarHTTPResponse, err := c.cfg.HTTPClient.Do(req) 

	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	defer localVarHTTPResponse.Body.Close()
	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)

	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = c.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		fmt.Errorf("Bad decoding")
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
