/*
Metabase

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package metabase

import (
	// "bytes"
	"context"
	"io"
	"net/http"
	// "net/url"
	"fmt"
)

// params : 
// * status= Type: string
// * query= Type: string
// * group_id = Type: integer min: 1 (value must be an integer greater than zero.)
// * include_deactivated= Type: boolean default: false

func (c *APIClient) GetUsers(ctx context.Context) (*Users, *http.Response, error){
	var localVarReturnValue *Users

	localBasePath, err := c.cfg.ServerURLWithContext(ctx, "GetUsers") // this looks optional
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/user/"

	req, _ := http.NewRequest("GET", localVarPath, nil)

	// I do have an APIClient
	// apiClient, _, err := metabaseutil.NewApiClient(clientCfg)
	// here i could be using an API service with callAPI() method
	localVarHTTPResponse, err := c.cfg.HTTPClient.Do(req) 

	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	defer localVarHTTPResponse.Body.Close()
	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)

	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	// for debug
	fmt.Printf("HTTP response : %v \n",*localVarHTTPResponse)
	fmt.Printf("HTTP Code : %v \n",localVarHTTPResponse.Status)
	fmt.Println(string(localVarBody)) // OK

	err = c.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		fmt.Errorf("Bad decoding")
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}